div {
    height: 100px;
    width: 100px;
    background-color: rgb(1, 41, 128);
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
}
#middle {
    background-color: aquamarine;

}

#static #middle {
    position: static;
}
#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
}
#absolute {
    position: relative;
}
#absolute #middle {
    position: absolute;
    top: 50px;
    left: 50px;
}
#fixed #middle {
    position: fixed;
    top: 0;
    left: 0;
}