<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, a. Illo officia aliquid dolore debitis
        eveniet aspernatur dicta accusantium assumenda, quasi aperiam tempore temporibus rem non veritatis incidunt
        minus veniam.</p>
</body>

</html>